{{!-- <form {{action "add"}} class="form-inline">
  <label for="name" class="mr-sm-2">Name:</label>
  {{input type="text" class="form-control mr-sm-2" value=name}}
  <label for="contatct" class="mr-sm-2">Contact:</label>
  {{input type="text" class="form-control mr-sm-2" value=contact}}
  <label for="location" class="mr-sm-2">Location:</label>
  {{input type="text" class="form-control mb-2" value=location}}
  <button  type="submit" class="btn btn-primary mb-2 mr-sm-2">Submit</button>
</form> --}}
{{outlet}}

{{#list-filter
    filter=(action 'filterByName')
    as |employees|}}
    <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover ">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>City</th>  
        </tr>
        </thead>  
      <tbody>
        {{#each employees as |employee|}}
          <tr>
              <td>{{employee.name}}</td>
              <td>{{employee.contact}}</td>
              <td>{{employee.location}}</td>
          </tr>
        {{/each}}  
       </tbody>
    </table>
    </div>
{{/list-filter}}
{{#link-to "employees.new" class="btn btn-primary"}}New{{/link-to}}
